* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #C6B79B;
}
button {
	font-size: 18px;
    cursor: pointer;
    z-index: 1;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
}
button:before {
    z-index: -1;
    width: 0%;
    background: #4ecdc4;
    transition: 0.2s ease;
}
button:hover {
    color: #F7FFF7;
    background-color: #4ecdc4;
    transition: 0.2s ease;
}
button:hover::before {
    width: 50%;

}